spring.application.name=trains

# Database connection
spring.datasource.username={USERNAME}
spring.datasource.url=jdbc:postgresql://localhost:5432/{DBNAME}
spring.datasource.password={PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver
